<div class="container min-vh-100 rounded-border ">
    <p class="text-light">Pick Up</p>

    <div class="row">
        <div class="col-2">
          <div id="list-example" class="list-group">
            <a *ngFor="let category of categoryList" class="list-group-item list-group-item-action" (click)="selectedCategory(category)">{{ category.categoryName }}</a>          </div>
        </div>

        <div class="col-3  custom-column1-color p-3 rounded-border m-1">
          <!-- <button class="btn btn-outline-warning mb-2 gap-3"></button> -->
          <div *ngFor="let itemName of filterdItemArray" class="btn btn-outline-warning mb-2 gap-3">  
            {{itemName}}
          </div>        
      </div>

        <div class="col-4  custom-column1-color custom-column1 p-3 rounded-border ">
          <div class=" w-100 table-wrapper-scroll-y my-custom-scrollbar ">
            <table class="table table-hover table-dark table-bordered table-borderless mb-0  w-100">
              <thead>
                <tr>
                  <th scope="col">QTY </th>
                  <th scope="col">Name </th>
                  <th scope="col">Dis % </th>
                  <th scope="col">Price </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> 
        
        <div class="col-2 custom-column1-color custom-column1 p-3 rounded-border m-1">
          <button routerLink="/pos" class="btn btn-danger mb-2"> Order Cancel </button>  
          <button class="btn btn-danger mb-2 mt-5"> Delete </button>
            <button class="btn btn-success mb-2"> + </button>
            <button class="btn btn-success mb-2"> - </button>
        </div>
    </div>
    
    <div class="row  ">
      <div class="col-2 "></div>
      <div class="col-3 m-1"></div>
    
      <div class="col-4  custom-column1-color  rounded-border mt-1">
        <table class="table text-light">
            <tr>
                <th scope="col">Total</th>
                <!-- <th scope="col">Name</th> -->
                <!-- <th scope="col">Dis%</th> -->
                <th scope="col">Price</th>
            </tr>
            <tr>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center ">
                    <button routerLink="/pickUpSettle" type="button" class="btn btn-primary btn-lg px-4 gap-3 fs-6">Settle</button>
                    <button type="button" class="btn btn-primary btn-lg px-4 ft-6">KOT & Bill</button>
                </div>
            </tr>
        </table>
      </div>
    
      <div class="col-2"></div>
    </div>
</div>