<div class="container min-vh-100 rounded-border ">
    <!-- <p class="text-light">Pick Up</p> -->

    <div class="row">
        <div class="col-2 custom-column1-color p-3">
          <div id="list-example" class="list-group ">
            <!-- <a *ngFor="let category of categoryList" class="list-group-item list-group-item-action btn-warning" (click)="selectedCategory(category)">
              {{ category.categoryName }}
            </a>      -->
            
            <div *ngFor="let category of categoryList" class="btn btn-warning mb-2 gap-3" (click)="selectedCategory(category)">  
              {{ category.categoryName }}
            </div> 
          </div>
        </div>

        <div class="col-3  custom-column1-color p-3 rounded-border m-1">
          <!-- <button class="btn btn-outline-warning mb-2 gap-3"></button> -->
          <div *ngFor="let itemName of filterdItemArray" class="btn btn-outline-warning mb-2 gap-3" (click)="clickItem(itemName)">  
            {{itemName}}
          </div>        
      </div>

        <div class="col-4  custom-column1-color custom-column1 p-3 rounded-border ">
          <div class=" w-100 table-wrapper-scroll-y my-custom-scrollbar ">
            <table class="table table-hover table-dark table-bordered table-borderless mb-0  w-100">
              <thead>
                <tr>
                  <th scope="col">QTY </th>
                  <th scope="col">Name </th>
                  <th scope="col">Dis % </th>
                  <th scope="col">Price </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of selectedItem" data-bs-toggle="modal" data-bs-target="#updateItem" (click)="clickItemforTempSave(item)" >
                  <td>{{item.itemqty}}</td>
                  <td>{{item.itemName}}</td>
                  <td>{{item.itmDiscount}}</td>
                  <td>{{item.itemPrice}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> 
        
        <div class="col-2 custom-column1-color custom-column1 p-3 rounded-border m-1">
          <button  class="btn btnOrderClear text-light mb-2" (click)="orderCancel()" (click)="calculateTotal()"> Order Clear </button>  
          <!-- <button class="btn btn-danger mb-2 mt-5" (click)="deleteItem()"> Delete </button> -->
            <!-- <button class="btn btn-success mb-2"> + </button> -->
            <!-- <button class="btn btn-success mb-2"> - </button> -->
        </div>
    </div>
    
    <div class="row  ">
      <div class="col-2 "></div>
      <div class="col-3 m-1"></div>
    
      <div class="col-4  custom-column1-color  rounded-border mt-1">
        <div class="row ">
          <div class="col text-light fw-bold">Sub Total : </div>
          <div class="col text-light fw-bold" > {{total}}</div>
          <!-- <div class="col"></div> -->
          <!-- <div class="col"></div> -->
        </div>
        <table class="table text-light">
          <br>  
            <tr>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center ">
                    <!-- <button routerLink="/pickUpSettle" type="button" class="btn btn-primary btn-lg px-4 gap-3 fs-6">Settle</button> -->
                    <button type="button" class="btn btnContinuePayne btn-lg px-4 ft-6" data-bs-toggle="modal" data-bs-target="#continuePayment">Continue to Payment</button>
                </div>
            </tr>
        </table>
      </div>
    
      <div class="col-2"></div>
    </div>
</div>


<!-- Modal - Update Item-->
<div class="modal fade" id="updateItem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-5 pt-0">
          <form class="">
            <div class=" mb-3">
              <label for="itemqty" class="form-label">Qty</label>
              <input type="text" class="form-control rounded-3" name="qty" [(ngModel)]="itemForTempSave && itemForTempSave.itemqty" [ngModelOptions]="{standalone: true}" id="itemqty" placeholder="">
              <!-- <label for="qty"></label> -->
            </div>
            <div class=" mb-3">
              <label for="itmDiscount" class="form-label">Discount</label>
              <input type="text" class="form-control rounded-3" name="Discount" [(ngModel)]="itemForTempSave && itemForTempSave.itmDiscount"  [ngModelOptions]="{standalone: true}" id="itmDiscount" placeholder="">
              <!-- <label for="Discount"></label> -->
            </div>
            <div class=" mb-3">
              <label for="itemPrice" class="form-label">Price</label>
              <input type="text" class="form-control rounded-3" name="Price" [(ngModel)]="itemForTempSave && itemForTempSave.itemPrice" [ngModelOptions]="{standalone: true}" id="itemPrice" placeholder="">
              <!-- <label for="Price"></label> -->
            </div>
           
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <button 
              class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" 
              type="submit" 
              data-bs-dismiss="modal" 
              (click)="clickToUpdateItem()"
              aria-label="Close">
                Update
            </button>
            <button 
            class="w-100 mb-2 btn btn-lg rounded-3 btn-danger" 
            type="submit" 
            data-bs-dismiss="modal" 
            (click)="deleteItem()"
            aria-label="Close">
              Delete
          </button>
            <button type="button" class="btn btn-outline-danger btn-lg px-4" data-bs-dismiss="modal" aria-label="Close" >Cancel</button>

            </div>
            
            <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
          </form>
        </div>
    </div>
  </div>
</div>

<!-- Modal - Continue To Payment-->
<div class="modal fade" id="continuePayment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-5 pt-0">
          <form class="">
            <div class=" mb-3">
              
              <div class="  custom-column1-color custom-column1 p-3 rounded-border ">
                <div class=" special-height w-100 table-wrapper-scroll-y my-custom-scrollbar ">
                  <table class="table table-hover table-dark table-bordered table-borderless mb-0  w-100">
                    <thead>
                      <tr>
                        <th scope="col">QTY </th>
                        <th scope="col">Name </th>
                        <th scope="col">Dis % </th>
                        <th scope="col">Price </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of selectedItem"  >
                        <td>{{item.itemqty}}</td>
                        <td>{{item.itemName}}</td>
                        <td>{{item.itmDiscount}}</td>
                        <td>{{item.itemPrice}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div> 

            </div>
            <div class=" mb-3">
              <label for="itmDiscount" class="form-label">Total - {{total}}</label>

              <div class="form-floating">
                <input type="text" class="form-control rounded-3" name="itemCode" [(ngModel)]="cash && cash.fromUser" [ngModelOptions]="{standalone: true}" id="userInput" placeholder="">
                <label for="itemCode"> Charged </label>
              </div>
              

              <!-- <input type="text" class="form-control rounded-3" name="Discount" [(ngModel)]="itemForTempSave && itemForTempSave.itmDiscount"  [ngModelOptions]="{standalone: true}" id="itmDiscount" placeholder=""> -->
              <!-- <label for="Discount"></label> -->
            </div>
            
           
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <button 
              class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" 
              type="submit" 
              data-bs-dismiss="modal" 
              data-bs-toggle="modal" 
              data-bs-target="#printBill"
              (click)="clickOrderConform()"
              aria-label="Close">
                Conform
            </button>
        
            <button type="button" class="btn btn-outline-danger btn-lg px-4" data-bs-dismiss="modal" aria-label="Close" >Cancel</button>

            </div>
            
            <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
          </form>
        </div>
    </div>
  </div>
</div>


<!-- Modal - Print Bill-->
<div class="modal fade" id="printBill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-5 pt-0">

        <div class="border border-danger rounded p-2">
          <h2 class="text-center pb-1">Company Name</h2>
          <h6 class="text-center pb-2">Company Address</h6>
          <h2 class="text-center ">------------------------------</h2>
          <h6 class="text">Employee : </h6>
          <h2 class="text-center ">------------------------------</h2>

          <table class="table borderWhite ">
            <tbody>
              <tr *ngFor="let tempItem of selectedItem"  class="borderWhite ">
                <!-- <div class="row"> -->
                  <!-- <div class="col"><p class=" "> {{tempItem.itemqty}} {{tempItem.itemName}}</p></div>
                  <div class="col"><p class="text-end ">Rs: {{tempItem.itemPrice}}</p></div> -->

                  <div class="row">
                    <div class="col"><h6 class=" ">{{tempItem.itemqty}} , {{tempItem.itemName}}</h6></div>
                    <div class="col"><h6 class="text-end ">Rs: {{tempItem.itemPrice}}</h6></div>
                  </div>
                <!-- </div> -->
              </tr>
            </tbody>
          </table>

          <h2 class="text-center ">------------------------------</h2>
          
          <div class="row">
            <div class="col"><h5 class=" ">Total</h5></div>
            <div class="col"><h5 class="text-end ">Rs: {{total}}</h5></div>
          </div>

          <div class="row">
            <div class="col"><h6 class="">Cash</h6></div>
            <div class="col"><h6 class="text-end ">Rs:  {{cash.fromUser}}</h6></div>
          </div>

          <div class="row">
            <div class="col"><h6 class=" ">Change</h6></div>
            <div class="col"><h6 class="text-end ">Rs: {{cash.forUser}}</h6></div>
          </div>

          <h2 class="text-center ">------------------------------</h2>
          <h6 class="text-center pb-2">Thank You</h6>
        </div>

        <div class="row pt-2">

          <div class="col">
          <button 
            type="button" 
            class="w-100 btn btn-outline-danger btn-lg px-4" 
            data-bs-dismiss="modal" 
            aria-label="Close" 
            data-bs-toggle="modal" 
            data-bs-target="#continuePayment">
            Back
          </button>
          </div>
          
          <div class="col">
            <button 
              class="w-100 btn btn-lg rounded-3 btn-primary" 
              type="submit" 
              (click)="orderSave()"
              data-bs-dismiss="modal" 
              data-bs-toggle="modal" 
              aria-label="Close">
                Print Bill
            </button>
          </div>

        
        </div>
        
        </div>         
    </div>
  </div>
</div>