

<div class="container min-vh-100 rounded-border ">
    <!-- <p class="text-light">item-list </p> -->

<div class="row px-4 ">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col custom-column1-color custom-column1 p-3 rounded-border m-1">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Item</button>
    </div>
</div>


<div  *ngIf="!itemList" class="d-flex justify-content-center text-warning">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="row px-4 ">
    <table class="table table-hover table-dark table-bordered table-borderless mb-0  w-100" *ngIf="itemList">
        <thead>
          <tr>
            <th scope="col"> # </th>
            <th scope="col"> Id </th>
            <th scope="col"> Name</th>
            <th scope="col"> Category</th>
            <th scope="col"> Price </th>
            <th scope="col"> Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- This is For each  -->
          <tr *ngFor="let item of itemList; let i = index;">
            <td>{{i+1}}</td>
            <td>{{item.itemCode}}</td>
            <td>{{item.itemName}}</td>
            <td>{{item.category}}</td>
            <td>{{item.itemPrice}}</td>
            <td><button (click)="setSelectedItem(item)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"> Remove </button></td>
          </tr>
        </tbody>
      </table>
</div>


<!-- Modal - Add Item-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-5 pt-0">
            <form class="">
              <div class="form-floating mb-3">
                <input type="text" class="form-control rounded-3" name="itemCode" [(ngModel)]="item.itemCode" id="itemCode" placeholder="">
                <label for="itemCode">Item Code</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control rounded-3" name="itemName" [(ngModel)]="item.itemName" id="itemName" placeholder="">
                <label for="itemName">Name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control rounded-3" name="itemcategory" [(ngModel)]="item.category" id="itemcategory" placeholder="">
                <label for="itemcategory">Category</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control rounded-3" name="itemPrice" [(ngModel)]="item.itemPrice" id="itemPrice" placeholder="">
                <label for="itemPrice">Price</label>
              </div>
              <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" (click)="createItem()" type="submit" [disabled]="isSubmissionDisabled" data-bs-dismiss="modal" aria-label="Close">Submit</button>
              <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal - Delete Successfully -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-5 pt-0">
          <h1 class="display-5 fw-bold text-body-emphasis">Centered hero</h1>
        <div class=" mx-auto">
          <p class="lead mb-4">text here...</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" (click)="deleteItem()" class="btn btn-primary btn-lg px-4 gap-3" data-bs-dismiss="modal" aria-label="Close">Yes Delete</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4" data-bs-dismiss="modal" aria-label="Close">No Thanks</button>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>
