<div class="container min-vh-100 rounded-border ">
    <p class="text-light">Pos Component</p>

<div class="row mb-2">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <!-- <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Table</button> -->
        <button routerLink="/pickUp" type="button" class="btn btn-primary btn-lg px-4">Pick Up</button>
    </div>
</div>

<div class="row">

    <div class="row mt-5">
        <div class="col-4 d-grid gap-5 d-sm-flex justify-content-sm-center ">
            <button routerLink="/tablePlaceOrder" type="button" class="btn btn-outline-secondary btn-lg px-4 gap-4 text-light fs-6">Table 1</button>
            <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4 text-light">Table 2</button> -->
        </div>
        <div class="col-4 d-grid gap-5 d-sm-flex justify-content-sm-center">
            <button routerLink="/tablePlaceOrder" type="button" class="btn btn-outline-secondary btn-lg px-4 gap-4 text-light fs-6">Table 2</button>
            <button routerLink="/tablePlaceOrder" type="button" class="btn btn-outline-secondary btn-lg px-4 text-light fs-6">Table 3</button>
        </div>
        <div class="col-4 d-grid gap-5 d-sm-flex justify-content-sm-center">
            <button routerLink="/tablePlaceOrder" type="button" class="btn btn-outline-secondary btn-lg px-4 gap-4 text-light fs-6">Table 4</button>
            <button routerLink="/tablePlaceOrder" type="button" class="btn btn-outline-secondary btn-lg px-4 text-light fs-6">Table 5</button>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-4 d-grid gap-5 d-sm-flex justify-content-sm-center ">
            <button routerLink="/tablePlaceOrder" type="button" class="btn btn-outline-secondary btn-lg px-4 gap-4 text-light fs-6">Table 6</button>
            <button routerLink="/tablePlaceOrder" type="button" class="btn btn-outline-secondary btn-lg px-4 text-light fs-6">Table 7</button>
        </div>
        <div class="col-4 d-grid gap-5 d-sm-flex justify-content-sm-center">
            <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4 gap-4 text-light">Table 9</button> -->
            <button routerLink="/tablePlaceOrder" type="button" class="btn btn-outline-secondary btn-lg px-4 text-light fs-6">Table 8</button>
        </div>
        <div class="col-4 d-grid gap-5 d-sm-flex justify-content-sm-center">
            <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4 gap-4 text-light">Table</button> -->
            <button routerLink="/tablePlaceOrder" type="button" class="btn btn-outline-secondary btn-lg px-4 text-light fs-6">Table 9</button>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-4 d-grid gap-5 d-sm-flex justify-content-sm-center ">
            <button routerLink="/tablePlaceOrder" type="button" class="btn btn-outline-secondary btn-lg px-4 gap-4 text-light fs-6">Table 10</button>
            <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4 text-light">Pick Up</button> -->
        </div>
        <div class="col-4 d-grid gap-5 d-sm-flex justify-content-sm-center">
            <button routerLink="/tablePlaceOrder" type="button" class="btn btn-outline-secondary btn-lg px-4 gap-4 text-light fs-6">Table 11</button>
            <button routerLink="/tablePlaceOrder" type="button" class="btn btn-outline-secondary btn-lg px-4 text-light fs-6">Table 12</button>
        </div>
        <div class="col-4 d-grid gap-5 d-sm-flex justify-content-sm-center">
            <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4 gap-4 text-light">Table</button> -->
            <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4 text-light">Pick Up</button> -->
        </div>
    </div>
</div>

<router-outlet>
    
</router-outlet>
</div>


