<div class="container min-vh-100 rounded-border ">
    <p class="text-light"> Table Order Settle</p>

<div class="row">
    <div class="col-1 pb-1">
      <button routerLink="/tablePlaceOrder" class="btn btn-danger"> Back </button>
    </div>
  </div>

<div class="row">

    <div class="col-5 custom-column1-color custom-column1 p-3 rounded-border m-1">
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
        <div class=" w-100 table-wrapper-scroll-y my-custom-scrollbar ">

            <div class=" w-100  ">
                <table class="table  table-borderless mb-0  w-100">
                  <tbody>
                    <tr>
                      <th scope="col"><p class="text-light ">Table :</p>  </th>
                      <th scope="col"><button type="button" class="btn btn-primary btn-lg px-4 fs-6">Merge Table</button> </th>
                    </tr>
                  </tbody>
                </table>
              </div>

          <table class="table table-hover table-dark table-bordered table-borderless mb-0  w-100">
            <thead>
              <tr>
                <th scope="col">QTY </th>
                <th scope="col">Name </th>
                <th scope="col">Dis % </th>
                <th scope="col">Price </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
              </tr>
              <tr>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
              </tr>
              <tr>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
              </tr>
              <tr>
                <td>8</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
              </tr>
              <tr>
                <td>3</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
              </tr>
              <tr>
                <td>4</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
              </tr>
              <tr>
                <td>1</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
              </tr>
              <tr>
                <td>1</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
              </tr>
              <tr>
                <td>1</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
              </tr>
            </tbody>
          </table>
        
        </div>
      </div> 

    <div class="col-6 align-items-start custom-column1-color custom-column1 p-3 rounded-border " >
        <div class="row mt-3">
            <div class=" w-100  ">
                <table class="table  table-borderless mb-0  w-100">
                  <tbody>
                    <tr>
                      <th scope="col"><p class="text-light ">Total :</p>  </th>
                      <!-- <th scope="col"> <input class="text" type="text" > </th> -->
                    </tr>
                  </tbody>
                </table>
            </div>   
        </div>
        <div class="row ">
            <div class=" w-100  ">
                <table class="table  table-borderless mb-0  w-100">
                  <tbody>
                    <tr>
                      <th scope="col"><p class="text-light ">Pay :</p>  </th>
                      <th scope="col"> <input class="form-control" type="text" placeholder="Input User Payment"> </th>
                    </tr>
                  </tbody>
                </table>
            </div> 
        </div>
        <div class="row mt-3 ">
            <div class="col-3">
                <button class="btn btn-outline-warning mb-1">50 </button>  
                <button class="btn btn-outline-warning mb-1">100 </button>   
                <button class="btn btn-outline-warning mb-1"> 500 </button>   
                <button class="btn btn-outline-warning mb-1"> 1000 </button>   
                <button class="btn btn-outline-warning mb-1"> 2000 </button>   
                <button class="btn btn-outline-warning mb-1"> 5000 </button> 
            </div>
            <div class="col-2 ">
                <button class="btn btn-outline-warning mb-1 p-3">1 </button>  
                <button class="btn btn-outline-warning mb-1 p-3">4 </button>   
                <button class="btn btn-outline-warning mb-1 p-3"> 7 </button>   
                <button class="btn btn-outline-warning mb-1 p-3"> . </button>   
            </div>
            <div class="col-2 ">
                <button class="btn btn-outline-warning mb-1 p-3">2 </button>  
                <button class="btn btn-outline-warning mb-1 p-3">5 </button>   
                <button class="btn btn-outline-warning mb-1 p-3"> 8 </button>   
                <button class="btn btn-outline-warning mb-1 p-3"> 0 </button>   
            </div>
            <div class="col-2 ">
                <button class="btn btn-outline-warning mb-1 p-3">3 </button>  
                <button class="btn btn-outline-warning mb-1 p-3">6 </button>   
                <button class="btn btn-outline-warning mb-1 p-3"> 9 </button>   
                <button class="btn btn-outline-warning mb-1 p-3"> X </button>   
            </div>
        </div>

        <div class="row custom-column1-color custom-column1 p-1  m-1">
            <div class=" w-100 p- ">
                <table class="table mb-0  w-100">
                  <tbody>
                    <tr>
                      <th scope="col"><button type="button" class="btn btn-success btn-lg px-4 fs-6">Cash</button> </th>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        <div class="row">
    </div>
</div>

</div>